.header {
  height: 100vh;
  min-height: 700px; /*startkit имеет значение 600px, но на маленьком экране при 600px header__square-pic уходит ниже границ (высота всех элементов явно больше 600px) header*/
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
  box-sizing: border-box;
}
